<div class="min-h-screen bg-gradient-to-b from-blue-50 to-white">

  <app-hero></app-hero>
  <app-countdown></app-countdown>
  <app-history></app-history>
  <!-- <app-timeline-pastors></app-timeline-pastors> -->
  <app-pastor-greeting></app-pastor-greeting>
  <app-departaments></app-departaments>
  <app-program></app-program>



  <!-- <app-news></app-news> -->
<!--   <app-progress></app-progress>
  <app-testimony></app-testimony>
  <app-colaboration></app-colaboration> -->
  <app-social-network></app-social-network>

</div>
